<div class="alert alert-warning">
  <h3>Browse our courses</h3>
</div>


<a href="" [routerLink]="['/courses']" class="btn btn-link">Home</a>

<a href="" [routerLink]="['/courses', 'java']" class="btn btn-link">Java</a>

<a href="" [routerLink]="['/courses', 'python']" class="btn btn-link">Python</a>

<a href="" [routerLink]="['/courses', 'dotnet']" class="btn btn-link">Microsoft .Net</a>

<hr>

<div>
  <router-outlet></router-outlet>
</div>

<h3>NgRx demo</h3>

<div class="row">
  <div class="col-sm-4">
    <add-course></add-course>
  </div>
  <div class="col-sm-8">
    <view-courses></view-courses>
  </div>
</div>