<div class="alert alert-info">
  <h2>Contact details</h2>
</div>

<!-- table>tr*4>td*2 -->
<table class="table table-hover table-bordered">
  <tr>
    <td>Id</td>
    <td>{{contact.id}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ contact.gender | title }} {{ contact.name | uppercase }}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>
      <span [innerText]="contact.city"></span>
    </td>
  </tr>
  <tr>
    <td>Email address</td>
    <td>{{contact.email}}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{contact.phone}}</td>
  </tr>
</table>