<p>
    <a href="" [routerLink]="['/']">Home</a>
</p>

<p>
    <a href="" [routerLink]="['/contacts']">View all contacts</a>
</p>

<p>
    <a href="" [routerLink]="['/add-contact', 'template-driven']">Add contact (template driven)</a>
</p>

<p>
    <a href="" [routerLink]="['/add-contact', 'model-driven']">Add contact (model driven)</a>
</p>

<p>
    <a href="" [routerLink]="['/courses']">View courses (nested routes demo)</a>
</p>

<p>
    <a href="" [routerLink]="['/search-contacts']">Search contacts by id (lazy loading a module)</a>
</p>

<p>
    <a href="" [routerLink]="['/search-contacts', 'by-city']">Search contacts by city (lazy loading a module)</a>
</p>